<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="{{package_name}}.dao.{{table_info.class_name}}Dao">

    <resultMap id="BaseResultMap" type="{{package_name}}.entity.{{table_info.class_name}}">
        {% for column in table_info.columns %}
        <result column="{{column.column_name}}" property="{{column.java_name}}" jdbcType="{{column.jdbc_type}}"/>
        {%- endfor %}
    </resultMap>

    <sql id="Base_Column_List">
        {{table_info.all_column_str}}
    </sql>
    <!--添加{{table_info.table_comment}}-->
    <insert id="insert{{table_info.class_name}}" parameterType="{{package_name}}.entity.{{table_info.class_name}}">
        insert into {{table_info.table_name}}
        <trim prefix="(" suffix=")" suffixOverrides=",">{% for column in table_info.columns %}
            <if test="{{column.java_name}} != null">
                {{column.column_name}},
            </if>{% endfor %}
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">{% for column in table_info.columns %}
            <if test="{{column.java_name}} != null">
                #{ {{column.java_name}},jdbcType={{column.jdbc_type}} },
            </if>{% endfor %}
        </trim>
    </insert>

    <!--删除{{table_info.table_comment}}-->
    <delete id="delete{{table_info.class_name}}">
        delete from {{table_info.table_name}} where id in
        <foreach collection="list" item="id" index="index"
        open="(" close=")" separator=",">
        #{id}
        </foreach>
    </delete>

    <!--修改{{table_info.table_comment}}-->
    <update id="update{{table_info.class_name}}" parameterType="{{package_name}}.entity.{{table_info.class_name}}">
        update {{table_info.table_name}}
        <set>{% for column in table_info.columns %}
            <if test="{{column.java_name}} != null">
                {{column.column_name}} = #{ {{column.java_name}},jdbcType={{column.jdbc_type}}},
            </if>{% endfor %}
        </set>
        <where>{% for column in table_info.columns %}
            <if test="{{column.java_name}} != null">
                and {{column.column_name}} = #{ {{column.java_name}}}
            </if>{% endfor %}
        </where>
    </update>

    <!--修改{{table_info.table_comment}}状态-->
    <update id="update{{table_info.class_name}}Status" parameterType="{{package_name}}.entity.{{table_info.class_name}}">
        update {{table_info.table_name}}
        <set>{% for column in table_info.columns %}
            <if test="{{column.java_name}} != null">
                {{column.column_name}} = #{ {{column.java_name}},jdbcType={{column.jdbc_type}}},
            </if>{% endfor %}
        </set>
        <where>{% for column in table_info.columns %}
            <if test="{{column.java_name}} != null">
                and {{column.column_name}} = #{ {{column.java_name}}}
            </if>{% endfor %}
        </where>
    </update>

    <!--查询{{table_info.table_comment}}详情-->
    <select id="query{{table_info.class_name}}Detail" parameterType="{{package_name}}.entity.{{table_info.class_name}}" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from {{table_info.table_name}}
        <where>{% for column in table_info.columns %}
            <if test="{{column.java_name}} != null">
                and {{column.column_name}} = #{ {{column.java_name}}}
            </if>{% endfor %}
        </where>
    </select>

    <!--查询{{table_info.table_comment}}列表-->
    <select id="query{{table_info.class_name}}List" parameterType="{{package_name}}.entity.{{table_info.class_name}}" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from {{table_info.table_name}}
        <where>{% for column in table_info.columns %}
            <if test="{{column.java_name}} != null">
                and {{column.column_name}} = #{ {{column.java_name}}}
            </if>{% endfor %}
        </where>
    </select>

</mapper>